* {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
}


header {
    background-color: hsl(212, 53%, 38%);
    color: #eee;
    padding: 20px 40px;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100vw - 80px);
    z-index: 9;
}

#logo {
    height: 48px;
    border-radius: 24px;
}

#main-menu  {
    display: flex;
    margin-left: 20px;
}
#main-menu li {
    list-style: none;
    padding: 15px 20px;
    cursor: pointer;
}
#main-menu li:hover {
    background-color: #ffffff22;
    border-radius: 3px;
}


#main-menu li ul.sub-menu {
    /* On affiche en absolute pour ne pas 
    agrandir le header et permettre au sous menu
    de passer "par dessus le reste" */
    position: absolute;
    background-color: #fff;
    color: #888;
    min-width: 300px;
    /* Par défaut, on cache le sous menu */
    visibility: hidden;
    opacity: 0;
}
/* Pour que le sous menu s'affiche au survol : */
#main-menu li:hover ul.sub-menu {
    visibility: inherit;
    opacity: 1;
    transition: all 0.8s ease;
}














#me {
    background: #eee;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 88px;
}

#me h1 {
    font-size: 4em;
    border-bottom: 1px solid #555;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#me p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #888;
}

#me #ma-photo {
    height: 450px;
    margin: 80px 0;
    box-shadow: 0 5px 8px #00000055;
    transform: rotate(-5deg);
}

#me #about-me {
    width: 800px;
}
#me #socials {
    display: flex;
    margin-top: 10px;
}
#me #socials li {
    list-style: none;
}
#me #socials img {
    height: 30px;
    margin-right: 10px;
    border-radius: 15px;
}





#experiences {
    border-top: 15px dotted #888;
    background-color: #eee;
    padding: 160px 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#experiences ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#experiences ul li {
    list-style: none;
    padding: 20px;
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #fff;
    border-radius: 5px;
    border-top: 5px solid hsl(212, 53%, 38%)
}


#experiences ul li .period  {
    display: block;
    margin-bottom: 10px;
    font-size: .8em;
    color:hsl(212, 53%, 38%);
}


#education .diploma {
    background-color: #222;
    color: #eee;
    margin: 20px auto;
    padding: 20px;
    width: 700px;
    max-width: calc(100% - 40px);
}